# Generated with hyprdynamicmonitors freeze.

{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- $external := index .MonitorsByTag "external" -}}

monitor=desc:{{$laptop.Description}},2880x1920@120.00000,0x0,2.00000000,transform,0,vrr,1
monitor=desc:{{$external.Description}},3840x2160@59.99700,-2304x-580,1.66666667,transform,0,vrr,0

workspace = 2,monitor:{{$external.Name}}
workspace = 3,monitor:{{$external.Name}}
workspace = 4,monitor:{{$external.Name}}
workspace = 5,monitor:{{$external.Name}}

exec = hyprctl dispatch moveworkspacetomonitor 2 {{$external.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 3 {{$external.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 4 {{$external.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 5 {{$external.Name}}
