[Unit]
Description={{ item.description }}
{% for service in item.after | d(['default.target']) -%}
After={{ service }}
{% endfor %}
{% for service in item.requires | d([]) -%}
Requires={{ service }}
{% endfor %}
{% for service in item.wants | d([]) -%}
Wants={{ service }}
{% endfor %}
{% if item.part_of is defined -%}
PartOf={{ item.part_of }}
{% endif %}
{% if item.start is defined -%}
StartLimitBurst={{ item.start.limit_burst | d('1') }}
StartLimitIntervalSec={{ item.start.limit_interval_sec | d('10') }}
{% endif %}
{% if item.binds_to is defined -%}
BindsTo={{ item.binds_to }}
{% endif %}

{% if not (item.empty_service| d(False)) %}
[Service]
Type={{ item.type | d('oneshot') }}
ExecStart={{ item.exec_start }}
Environment="PATH={{ binaries_home }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
{% if item.restart is defined -%}
Restart={{ item.restart.mode | d('no') }}
RestartSec={{ item.restart.sec | d('10') }}
{% endif %}
{% endif %}


{% if not (item.empty_install | d(False)) %}
[Install]
WantedBy={{ item.wanted_by | d('default.target') }}
{% endif %}
